#map { border-top: thin solid #666; border-left: thin solid #666; width: 387px; height:417px; background-image: url(pics/map.png); }

.cell { background-color:transparent; width: 50px; height: 50px; display:inline; float:left; border-right: thin solid #666; border-bottom: thin solid #666; text-align:center; }
.cell.stat p { color:white;font-family:arial;font-size:1.5em;padding-top:5px; }

.moveable { background-image: url('pics/moveable.png'); }
.pointer { cursor: pointer; }