/* resets */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none; padding-left: 0px;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}
/* end resets */

body { padding: 15px; font-family: arial; font-size: 0.8em; overflow: hidden; margin:0; padding:0; }

#map { border: thick solid #eee; border-radius: 5px; float:left; margin: 20px;}
#info { float:left; width: 210px; height: 100%; overflow: auto; padding:3px;}
.cell { background-color:transparent; width: 50px; height: 50px; display:inline; float:left; text-align:center; position: relative; }

.attackable { background-image: url(/images/attackable.png) !important; cursor: pointer; }
.attackable:hover { border: 1px solid black; margin: -2px; }
.movable { background-image: url(/images/movable.png); cursor: pointer;  } /*border: 2px solid green; margin:-2px;border-radius:3px;*/
.movable:hover { border: 1px solid black; margin: -2px; }
.healable { background-image: url(/images/healable.png); }
.healable:hover { border: 1px solid black; margin: -2px; }
.passable { background-image: url(/images/passable.png); }
.impassable { background-image: url(/images/impassable.png); }
.pointer { cursor: pointer; }

#info .character-info { display: inline-block; height: auto; width: 180px; font-size: 11px; margin: 0 0 5px; position: relative; padding: 0 2px; padding-bottom: 7px; background-color: gray; border: medium black solid; border-radius: 6px; padding: 3px; overflow:hidden;}
#info .stat-bar-holder { position:relative; float:right; width: 112px; margin-right: 5px; color:white; font-size: 0.8em; }
#info .stat-bar-holder span { padding: 1px 0 0 5px; width: 100px; display: block; }
#info .sprite { width: 50px; height: 50px; top: -5px; position:relative; }
#info .sprite img { display: block; margin: 0 auto; }
#info .name { text-align:center; font-weight:bold; }
#info .stat-bar { display: block; height: 12px; position: absolute; z-index: 1; left: 0; border-radius: 5px;}
.hp { background: none repeat scroll 0 0 red; top: 5px; }
.ap { background: none repeat scroll 0 0 blue; top: 20px; }
.hp.small { top: 44px; left: 3px; width:44px; height: 3px; position: absolute; }
.ap.small { top: 47px; left: 3px; width:44px; height: 3px; position: absolute; }

#stage { overflow:auto; }

/* hit points */
.cell.stat { color:white; font-family:arial; text-shadow: 2px 2px 0 #333333; z-index: 2 !important; }
.cell.stat h6 { font-size: 1.5em;  margin-top: 15px;  position:absolute !important; }
.cell.stat h5 { font-size: 2em; margin-top: 15px;  position:absolute !important; }
.cell.stat h4 { font-size: 2em;  margin-left: -3px; margin-top: 15px; position:absolute !important; }
.cell.stat h3 { font-size: 3em;  margin-left: -6px; margin-top: 15px; position:absolute !important; }
.cell.stat h2 { font-size: 3.5em;  margin-left: -12px; margin-top: 15px; position:absolute !important; }
.cell.stat h1 { font-size: 4em;  margin-left: -16px; margin-top: 15px; position:absolute !important; }
.cell.stat .healing { text-shadow: 2px 2px 0 blue; color: lightBlue; }
/* end hit points */

#console {width: 163px;border-radius: 5px;bottom: 0px;border: 3px solid black;height: 65px;background-color: #EEE;overflow: auto;padding-left: 24px;list-style-type: square;margin-bottom: 5px;position: relative;padding-bottom: 15px;font-size: 0.9em;}
#console li span { font-size: 2em; line-height: 0.6em; }

#console li {padding:2px;}
img.turn-indicator {  position:absolute; top: -25px; width:30px; height:30px;  left:10px; opacity:0.7; pointer-events:none; }

button { border-radius: 1px; }
.oversized {margin: -8px;padding: 8px;z-index: 1002;}
#slider { margin: 10px; width: 170px; }
#slider-label { margin: 10px; padding-bottom: 10px;}

#dialog p { padding-top:5px; }
#dialog h1 { font-size: 1.2em;padding-bottom: 7px; }

/* tiles */
.cell.grass { background: url(/images/grass.jpg) no-repeat center; }
.cell.shrub { background: url(/images/shrub.png) no-repeat center; }
