/* resets */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none; padding-left: 0px;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}
/* end resets */

body { padding: 15px; font-family: arial; font-size: 0.8em; overflow: hidden; margin:0; padding:0; }

#map { border-top: thin solid #666; border-left: thin solid #666; float:left; }
#info { float:left; width: 210px; height: 100%; overflow: auto; padding:3px;}
.cell { background-color:transparent; width: 50px; height: 50px; display:inline; float:left; border-right: thin solid #666; border-bottom: thin solid #666; text-align:center; }

.attackable { background-image: url(/images/attackable.png); cursor: pointer; }
.moveable { background-image: url(/images/moveable.png); cursor: pointer; }
.passable { background-image: url(/images/passable.png); }
.impassable { background-image: url(/images/impassable.png); }
.healable { background-image: url(/images/healable.png); }
.pointer { cursor: pointer; }

#info .character-info { display: inline-block; height: 100px; width: 180px; font-size: 11px; margin: 0 0 5px; position: relative; padding: 0 2px; background-color: gray; border: medium black solid; border-radius: 6px; padding: 3px; }
#info .character-info .stat-bar-holder { width: 179px; position:relative; }
#info .stat-bar { display: block; height: 12px; position: absolute; z-index: 1; left: 0; border-radius: 5px;}
#info .hp { background: none repeat scroll 0 0 red; top: 10px; }
#info .ap { background: none repeat scroll 0 0 blue; top: 25px; }

#stage { overflow:auto; }

/* hit points */
.cell.stat { color:white; font-family:arial; text-shadow: 2px 2px 0 #333333; }
.cell.stat h6 { font-size: 1.5em; padding-top: 30px; margin-top: 15px;  }
.cell.stat h5 { font-size: 2em; padding-top: 30px; margin-top: 15px;  }
.cell.stat h4 { font-size: 2.5em; padding-top: 25px; margin-left: -3px; margin-top: 15px; }
.cell.stat h3 { font-size: 3em; padding-top: 25px; margin-left: -6px; margin-top: 15px; }
.cell.stat h2 { font-size: 3.5em; padding-top: 20px; margin-left: -12px; margin-top: 15px; }
.cell.stat h1 { font-size: 4em; padding-top: 20px; margin-left: -16px; margin-top: 15px; }
/* end hit points */