/* resets */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none; padding-left: 0px;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}
/* end resets */

body { padding: 15px; font-family: arial; font-size: 0.8em; }

/* flashes */
#flashes { font:monospace; font-size: 2em; text-align:center;  }
#flashes #notice { color:#CF1515; background-color:#333; display:block; padding:10px; border-radius: 5px; -moz-border:radius: 5px; }
/* end flashes */

#map { border-top: thin solid #666; border-left: thin solid #666; float:left;}
#info { padding: 5px; position:fixed; background-color: white;border: 2px solid gray;display: block;float: left; display:none;}

#info_toggles { background-color: white;border: 2px solid gray;float: left;font-size: 16px;padding: 2px;position: fixed; display:none;}
#close_stats, #info_toggles a { color:black; text-decoration:none; }

#info p { font-size: 1.2em; }
.cell { background-color:transparent; width: 50px; height: 50px; display:inline; float:left; border-right: thin solid #666; border-bottom: thin solid #666; text-align:center; }

.attackable { background-image: url(/images/attackable.png); }
.moveable { background-image: url(/images/moveable.png); }
.passable { background-image: url(/images/passable.png); }
.impassable { background-image: url(/images/impassable.png); }
.healable { background-image: url(/images/healable.png); }
.pointer { cursor: pointer; }

#info ul { padding-top: 10px; padding:5px; }
#info ul li { padding-top:3px; }
#info ul.selected { background-color: #ccc;}

/* hit points */
.cell.stat { color:white; font-family:arial; text-shadow: 2px 2px 0 #333333; }
.cell.stat h6 { font-size: 1.5em; padding-top: 30px; margin-top: 15px;  }
.cell.stat h5 { font-size: 2em; padding-top: 30px; margin-top: 15px;  }
.cell.stat h4 { font-size: 2.5em; padding-top: 25px; margin-left: -3px; margin-top: 15px; }
.cell.stat h3 { font-size: 3em; padding-top: 25px; margin-left: -6px; margin-top: 15px; }
.cell.stat h2 { font-size: 3.5em; padding-top: 20px; margin-left: -12px; margin-top: 15px; }
.cell.stat h1 { font-size: 4em; padding-top: 20px; margin-left: -16px; margin-top: 15px; }
/* end hit points */

/* context menu */
div.hct { background-image:url(/images/menubutton.png);border:thin solid #999999;cursor:pointer;display:none;font-size:20px;height:25px;padding-top:5px;position:absolute;text-align:center;width:100px; }
div.hct:hover { background-image: url(/images/menuhighlight.png); }
div.hct.no_ap { background-image: url(/images/menured.png); }
#hpt { position: absolute;width: 10px;height: 10px;display: none;background: 000;opacity: 0; }
/* end context menu */