=content_for :head_scripts do
  :plain
    <script type="text/javascript">
      var init_level = function(){
        var map = new Map([ 
          [ 15, 15, 15, 15, 15, 15, 15, 15 ], 
          [ 15, 15, 15, 15, 15, 15, 15, 15 ],
          [ 15, 15, 15, 15, 15, 15, 15, 15 ], 
          [ 15, 15, 15, 10, 10, 15, 15, 15 ], 
          [ 15, 15, 10, 10, 10, 10, 15, 15 ],
          [ 15, 15, 10, 10, 10, 10, 15, 15 ],
          [ 15, 15, 10, 10, 10, 10, 15, 15 ],
          [ 15, 15, 10, 10, 10, 10, 15, 15 ],
          [ 15, 15, 10, 10, 10, 10, 15, 15 ],
          [ 15, 15, 10, 10, 10, 10, 15, 15 ],
          [ 15, 15, 10, 10, 10, 10, 15, 15 ],
          [ 15, 15, 10, 10, 10, 10, 15, 15 ],
          [ 15, 15, 10, 10, 10, 10, 15, 15 ],
          [ 15, 15, 10, 10, 10, 10, 15, 15 ],
          [ 15, 15, 10, 10, 10, 10, 15, 15 ],
          [ 15, 15, 15, 15, 15, 15, 15, 15 ]
        ]);

        window['level'] = new Level({ map: map });

        $('#stage').hide().fadeIn(2000, function(){ 
          level.info_div.hide().fadeIn(500); 

          var inventory = new Inventory([
            ['Potion', 3]
          ]);

          var hero = new Character( { map: level.map, x:4, y: 12, inventory: inventory } );
          level.active_player = hero;

          //var bob = new Character( { map: level.map, x: 4, y: 3 })
          level.players = [hero]; //, bob];

          var foo = new Enemy( { map: level.map } );
          var bar = new Enemy( { map: level.map, x: 4, y: 14 } );

          level.active_enemy = foo;
          level.enemies = [foo, bar];

          level.assign_ids();
          level.reset_turn();
        });
      }
    </script>