%form{:action => '/login', :method => 'post'}
  %input{:name => 'authenticity_token', :type => 'hidden', :value => form_authenticity_token }
  .form_row
    .label
      %label
        Login
    .field
      %input{:type => 'text', :name => 'login'}
  .form_row
    .label
      Password
    .field
      %input{:type => 'password', :name => 'password'}
  .form_row
    .input
      %input{:type => 'submit', :value => 'Submit'}