<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-type' />
    <title>Tactics Kit</title>
    <link charset='utf-8' href='/stylesheets/style.css' media='screen' rel='stylesheet' type='text/css' />
    <link charset='utf-8' href='/css/vader/jquery-ui-1.8.17.custom.css' media='screen' rel='stylesheet' type='text/css' />
    
    <script src='/javascripts/jquery.min.js' type='text/javascript'></script>
    <script src='/javascripts/jquery-ui.min.js' type='text/javascript'></script>
    <script src='/javascripts/underscore.min.js' type='text/javascript'></script>
    <script src='/javascripts/base.js' type='text/javascript'></script>
    <script src='/javascripts/templates.js' type='text/javascript'></script>
    <script src='/javascripts/models/inventory.js' type='text/javascript'></script>
    <script src='/javascripts/models/burstable.js' type='text/javascript'></script>
    <script src='/javascripts/models/weapon.js' type='text/javascript'></script>
    <script src='/javascripts/models/level.js' type='text/javascript'></script>
    <script src='/javascripts/models/level/matrix.js' type='text/javascript'></script>
    <script src='/javascripts/models/level/map.js' type='text/javascript'></script>
    <script src='/javascripts/models/character/experience.js' type='text/javascript'></script>
    <script src='/javascripts/models/character/life_force.js' type='text/javascript'></script>
    <script src='/javascripts/models/character/actionable.js' type='text/javascript'></script>
    <script src='/javascripts/models/character/movable.js' type='text/javascript'></script>
    <script src='/javascripts/models/character/attacking.js' type='text/javascript'></script>
    <script src='/javascripts/models/character/path_finding.js' type='text/javascript'></script>
    <script src='/javascripts/models/character/special.js' type='text/javascript'></script>
    <script src='/javascripts/models/character.js' type='text/javascript'></script>
    <script src='/javascripts/models/player.js' type='text/javascript'></script>
    <script src='/javascripts/models/enemy.js' type='text/javascript'></script>
    <script src='/javascripts/models/engineer.js' type='text/javascript'></script>
    <script src='/javascripts/helpers/animation_helper.js' type='text/javascript'></script>
    <script src='/javascripts/main.js' type='text/javascript'></script>
    
    <script id='character-info-template' type='text/template'>
      <li>
        <div class='character-info'>
          <div class='name'><@= name @></div>
          <div class='stat-bar-holder'>
            <div class='hp stat-bar' style="width:<@= (hpLeft/hp)*100 @>%"><@= hpLeft @>/<@= hp @> hp</div>
            <div class='ap stat-bar' style="width:<@= (apLeft/ap)*100 @>%"><@= apLeft @>/<@= ap @> ap</div>
          </div>
          <div class='sprite'><img src='<@= sprite @>' /></div>
          <@ _.each(specials, function(special){ @> <@= special.button() @> <@ })@>
        </div>
      </li>
    </script>
  </head>
  <body>
    <%= yield %>
    <div id='wrapper'>
      <div id='info'>
        <div class='header'></div>
        <ul></ul>
      </div>
      <div id='stage'>
        <div id='map'></div>
      </div>
      <ul id='console'></ul>
    </div>
  </body>
</html>