<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-type' />
    <title></title>
    <link charset='utf-8' href='/stylesheets/style.css' media='screen' rel='stylesheet' type='text/css' />
    <link charset='utf-8' href='/stylesheets/facebox.css' media='screen' rel='stylesheet' type='text/css' />
    <script src='/javascripts/zepto.min.js' type='text/javascript'></script>
    <script src='/javascripts/underscore.min.js' type='text/javascript'></script>
    <script src='/javascripts/base.js' type='text/javascript'></script>
    <script src='/javascripts/templates.js' type='text/javascript'></script>
    <script src='/javascripts/models/inventory.js' type='text/javascript'></script>
    <script src='/javascripts/models/weapon.js' type='text/javascript'></script>
    <script src='/javascripts/models/level.js' type='text/javascript'></script>
    <script src='/javascripts/models/level/matrix.js' type='text/javascript'></script>
    <script src='/javascripts/models/level/map.js' type='text/javascript'></script>
    <script src='/javascripts/models/character/experience.js' type='text/javascript'></script>
    <script src='/javascripts/models/character.js' type='text/javascript'></script>
    <script src='/javascripts/models/player.js' type='text/javascript'></script>
    <script src='/javascripts/main.js' type='text/javascript'></script>
    
    <script id='character-info-template' type='text/template'>
      <li>
        <div class='character-info'>
          <div class='name'>{{name}}</div>
          <div class='stat-bar-holder'>
            <div class='hp stat-bar' style="width:{{(hpLeft/hp)*100}}%">{{hpLeft}}/{{hp}} hp</div>
            <div class='ap stat-bar' style="width:{{(apLeft/ap)*100}}%">{{apLeft}}/{{ap}} ap</div>
          </div>
        </div>
      </li>
    </script>
    
  </head>
  <body>
    <div id='info'>
      <div class='header'></div>
      <ul></ul>
    </div>
    <div id='stage'>
      <div id='map'></div>
    </div>
  </body>
</html>